<!DOCTYPE html>
<html lang="en">
<head>
<title>After School Lessons</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


</head>
<body>

<div id="app">
	<header>
		<h1 v-text="sitename"></h1>
		<button v-on:click='showShoppingCart' v-if='cartItemCount > 0'>
			{{cartItemCount}}
			<span class="fas fa-shopping-cart"></span>Shopping Cart
		</button>
		<button disabled='disabled' v-else >Shopping Cart</button>
	</header>
	<main>
		<h1>Sort</h1>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
			<label class="form-check-label" for="flexRadioDefault1">
			  Subjects
			</label>
		  </div>
		  <div class="form-check">
			<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
			<label class="form-check-label" for="flexRadioDefault2">
			  Location
			</label>
		  </div>

		  <div class="form-check">
			<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
			<label class="form-check-label" for="flexRadioDefault2">
			  price
			</label>
		  </div>

		  <div class="form-check">
			<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
			<label class="form-check-label" for="flexRadioDefault2">
			  Availability
			</label>
		  </div>
		  
		<div v-if='showProduct' style="display: flex; flex-wrap: wrap">
			<div v-for="lesson in lessons">
				<div style="margin-left: 20px;">
					<img v-bind:src="lesson.image" alt="" height="200" width="200">
					<h2>subject: {{lesson.subject}}</h2>
					<p>location: {{lesson.location}}</p>
					<p>price: {{lesson.price}}</p>
					<p>Number Of Spaces: {{lesson.numberofspace}}</p>
					<p>
					<button v-on:click='addToCart(lesson)' v-if='canAddToCart(lesson)'>Add to cart</button>
					<button disabled='disabled' v-else >Add to cart</button>
					</p>
				</div>
			</div></div>
		<div v-else>
           <div style="display: flex; flex-wrap: wrap">
			<div v-for="lesson in cart">
				<div style="margin-left: 20px;" >
					<img v-bind:src="lesson.image" alt="" height="200" width="200">
					<h2>subject: {{lesson.subject}}</h2>
					<p>location: {{lesson.location}}</p>
					<p>price: {{lesson.price}}</p>
					<p>Number Of Spaces: {{lesson.numberofspace}}</p>
					<button v-on:click='remove(lesson)'>Remove</button>
				</div>
			</div>
		</div>

            <h4><strong>Enter Your Information</strong></h4>
			<div>
				<p>
					<input required v-model.trim="order.name"/>
				</p>
				<p>	
					 <input v-model="order.phone" type="tel" required/>
				</p>
               <button v-on:click="submitForm">Checkout</button>
			</div>
		</div>
	</main>
</div>

<script src="./Lessons.js"></script>
<script src="https://unpkg.com/vue"></script>
<script>
	var school = new Vue({
		el: '#app',
		data: {
			sitename: "After School Lessons",
			lessons :[],
       		cart: [],
			showProduct : true,
			order:{
                    name: '',
                    phone: '',
                },
		},

		created: function() {
				console.log('requesting')

                //get all lessons and store in lessons array to be displayed
				fetch('https://lessons101.herokuapp.com/collection/Lessons').then(
					function(res) {
						res.json().then(
							function(json) {
								school.lessons = json;
								console.log(json);
							});
					});
			},

		methods:{
		  addToCart: function (lesson)
		  {
			  this.cart.push(lesson);
			 if(lesson.numberofspace){
				 lesson.numberofspace -= 1;
			 }

		  },

		  remove(lesson){
			let index = this.cart.indexOf(lesson);
			if(index > -1){
                        this.cart.splice(index, 1);
                    }
                    lesson.numberofspace+= 1;
		  },
		  canAddToCart(lesson){
			  return lesson.numberofspace > 0;
		  },

		  showShoppingCart()
        {
            this.showProduct = this.showProduct ? false : true;
        },

		submitForm(){
            let order = { name: this.order.name, phone: this.order.phone, lessons: this.cart };
			
                 //on submit, post / create a new entry in orders collection
				 fetch('https://lessons101.herokuapp.com/collection/Orders', {
                        method: 'POST',
                        headers: {
                                'Content-Type': 'application/json', // set the data type as JSON
                        },
                        body: JSON.stringify(order) //maybe change this to regular json object
                        })
                        .then(response => response.json())
                        .then(result => {
                        alert("order submitted");
                        console.log('Success:', result);
                        })
                        .catch(error => {
                        console.error('Error:', error);
                        });

						this.cart.forEach(val => {
                    fetch('https://lessons101.herokuapp.com/collection/'+val._id, {
                        method: 'PUT',
                        headers: {
                                'Content-Type': 'application/json', // set the data type as JSON
                        },
                        body: JSON.stringify(val) //maybe change this to regular json object
                        })
                        .then(response => response.json())
                        .then(result => { 
                        console.log('Success:', result);
                        })
                        .catch(error => {
                        console.error('Error:', error);
                        });
                  })      
        },



	
	  },
	  computed:{
		
		  cartItemCount: function()
        {
            return this.cart.length || '';
        },

	
	  },

		})

</script>

</body>
</html>